<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Sistema_Tickets</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Styles/diseño_asidevertical.css" rel="stylesheet" />
    <link href="~/Styles/diseño_barranavegación.css" rel="stylesheet" />
    <link href="~/Styles/diseño_buttons.css" rel="stylesheet" />
    <link href="~/Styles/diseño_formularios.css" rel="stylesheet" />
    <link href="~/Styles/diseño_login.css" rel="stylesheet" />
</head>
<body class="body">
    <nav class="nav_horizontal">
        <div class="div_horizontal">
            <ul class="nav_horizontal">
                <li><img class="imagen" src="../Imagenes/escudo1.png" alt=""> </li>
                <li><a href="#">ESTRATEI Sistemas de informacion</a></li>
            </ul>
        </div>
    </nav>
<div>
        <aside class="aside_vertical">
            <div class="div_vertical">
            </div>
        </aside>
</div>

    <div>
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
